* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    
}
body {
    min-height: 100%;    
    font-family: 'Varela Round', sans-serif;
    
}
#container {
    width: 100%;    
}
.sec {
    padding: 10% 5% 0 5%;
    
     
}
.getstarted {
    color: #FFFFFF;
    padding: 2%;
    margin-top: 10%;
    min-width: 40%;
    
    /*position:absolute;
    top: 80%;
    left:50%;
    transform: translateX(-50%)translateY(-50%);
    */
}
    .getstarted h1 {
        font-size: 2.2em;
        font-weight: 800;
        letter-spacing: 0.2em;
    }
    .getstarted h3 {
        margin-top: 2%;
        letter-spacing: 0.2em;

    }
.btn1 {
        font-size: 1.0em;
        letter-spacing: 0.1em;
        font-weight: 600;
        color: #FFFFFF;
        margin-top: 5%;
        background-color:#16A085;
        width: 15em;
        height: 4.0em;
        border: none;
        border-radius: 5px;
    }
    .btn1:hover {
        background-color:#138a72;
        cursor: pointer;
    }


#sec-1 {
    padding: 2%;
    background:   url(../IMG/Livello1.png);
    text-align: center;
    background-size: 100% 100%;
    
}
#sec-1 ul {
    min-width: 60%;
    margin-top: 5%;
    list-style: none;
    
    
}
#sec-1 li {
    padding: 0 2% 0 5%;
    display: inline;
    
}
li > a {
    font-smooth: always;
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizelegibility;
    letter-spacing: .1em;
    font-size: 1.5em;
    font-weight: 600;
    
}

.socials {
    margin-top: 5%;
}
.socials  img {
    padding: 0.5%;
}
#sec-2 {
    background-color: #f5f6f7;

}
.secontent  h3{
    padding-bottom: 2%;
    letter-spacing: 0.2em;
    color: #16A085;
    line-height: 1.5em;
}
.secontent  p{
    font-size: 1.2vw;
    padding-bottom: 2%;
    letter-spacing: 0.1em;
    line-height: 1.8em;  
    margin-bottom: 0;
    
}
.secontent {
    width: 40%;
    
}
.sec2content {
    float: left;
    width: 40%;
    
}
    #sec-2 img {
        width: 60%;
        height: auto;
        display: block;

    }
.sec3content {
    float:right;
     width: 40%;
  
}
    #sec-3 img {
        display: block;
    }

#sec-4 {
    max-width: 100%;
    padding: 3% 5% 3% 5%;
    background-color: #f5f6f7;
}
    .sec4content {
        overflow: hidden;

        text-align: center;
        float: left;
        width: 15%;
        margin: 5% 5%;

}
.sec4concent img {
    display: block;
    width: 20%;
    height: 100%;
    
    
}
.sec4content h3 {
    font-size: 1.5vw;
    padding-top: 10%;
    
}
.sec4content p {
    font-size: 1.5vw

}
#sec-4 img {
    width:30%;
    height: auto;
    margin: 5% 2%;

}

#sec-5 {
    
    padding: 20% 5% 20% 5%;
    min-height: 100%;
    background:   url(../IMG/Livello3.png);
    text-align: center;
    background-size: 100% 100%;
}
.subscrib {
    letter-spacing: 0.1em;
    margin: 5% 2%;
    color: #FFFFFF;
    
}
.subscrib h2 {
    margin-bottom: 2%;
}
.inputs {
     display: inline-flex;
       
}
.subscrib input {
    letter-spacing: 0.1em;
    text-align: center;
    width: 15em;
    height: 3em;
    border: none;
    border-radius: 5px 0px 0px 5px;

}
.btn2 {
    height: 3em;
    width: 4em;
    color: white;
    border: none;
    background-color:#16A085;
    border-radius: 0px 5px 5px 0px;
    
  
    
    
}
#back-to-top {
    width:6%;
    min-height: 7%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:#16A085;  
    font-size: 3.0vw;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in;
   
}


#back-to-top:hover {
    background-color:#138a72;
    box-shadow: 0 0 1em 0 rgba(95, 107, 118, .50);
      
}
#back-to-top.visible{
    opacity: 1;
    cursor: pointer;
    
}


footer {
    padding:5% 0 5% 0;
    text-align: center;
    width: 100%;
    background-color: #f5f6f7;

    
}